body{
    font-family : 'Itim', cursive;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 637px) {
    .container{
        width : 90%;
        margin : auto;
    }    
}

@media screen and (min-width: 1000px) {
    .container{
        width : 70%;
        margin : auto;
    }    
}


.header{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding: 15px;
    background-color: #21094e;
    color:white;
}

@media screen and (max-width: 480px){
    .header{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-color: #21094e;
        color:white;
    }    
}

.image{
    border-radius: 50%;
    border: 3px solid #4ca1a3;
}

.contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#small-table{
    display: none;
}


.hobbies, .skills, .eq, .co, .projects, .lang, .smp, .certifications {
    background-color: #a5e1ad;
    padding: 10px;
}

.eq{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.projects{
    grid-column-start: 2;
    grid-column-end: 4;
}

.rating{
    display:inline;
    width:8%;
}

.sm-profiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45px 45px;
}

.smp{
    grid-column-start:2;
    grid-column-end: 4;
}

@media screen and (max-width: 480px) {
    .contents{
        display:initial;
    }

    #big-table{
        display: none;
    }

    #small-table{
        display:table;
    }

    .sm-profiles{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45px 45px 45px;
    }
}

.sm{
    text-decoration: none;
    color: black;
    padding:10px;
    margin:9px;
    background-color: #4ca1a3;
    border-radius: 12px;
}

.sm:hover{
    background-color: #511281;
    /* opacity: 0.6; */
    color: white;
}

.certifications{
    grid-column-start:1;
    grid-column-end: 4;
    justify-items:center;
}

.crt{
    width: 80%;
    height: 80%;
    border: 3px solid #511281;
}

footer{
    background-color: #21094e;
    padding: 9px;
    margin:0;
    color: white;
    text-align: center;
}